apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: call-center
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/part-of: call-center
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: redis
  selector:
    app.kubernetes.io/name: redis
