global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "alerts.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

scrape_configs:
  - job_name: "call-processor"
    static_configs:
      - targets: ["call-processor:8080"]
    metrics_path: /metrics
    scrape_interval: 10s
